/* Propiedades generales */
* {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  text-align: center;
}

/* Propiedades de la cabecera */
.cabecera {
  background-color: rgb(36, 36, 22);
  border-bottom: 0.4em solid rgb(216, 218, 57);
  color: white;
  margin-bottom: 3em;
  padding: 1.5em;
}

.cabecera > h1 {
  font-size: 2em;
  font-weight: 700;
}

/* Propiedades box  */

.box {
  border-radius: 0.5em 2em 0.5em 2em;
  box-shadow: 0em 0em 2em 0em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 800px;
}

.box__ubicacion {
  background-color: rgb(36, 36, 22);
  border: 0.2em solid rgb(216, 218, 57);
  border-radius: 2em;
  color: white;
  font-size: 2em;
  font-weight: 700;
  padding: 1em;
}

.box__nombre {
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 1em;
  margin-top: 1em;
  text-transform: uppercase;
}

.box__footer {
  background-color: rgb(36, 36, 22);
  color: white;
  font-size: 2em;
  font-weight: 700;
  padding: 0.5em;
}

/* Propiedades de la foto */
.box__foto {
  border-bottom: 0.5em solid rgb(36, 36, 22);
  height: 400px;
  width: 800px;
}
